
/* singup.css
 *
 * Stylesheet for the signup page.
 *
 * Online Virus Check
 * CS 174: Server-side Web Programming
 * Professor Fabio Di Troia
 *
 * Written by Jasmine Mai, Nhat Nguyen, and Albert Ong
 * Revision 03.04.2019
 */


/* Import ========================================= */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

/* Reset ========================================== */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.center {
  display: flex;
    align-items: center;
    justify-content: center;
}

/* Code ============================================ */
main {
  /* background-color: rgba(255, 131, 131, 0.1); */
  color: #202124;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  width: 100%;
}

/* Login Left ====================================== */
#main-left {
  /* border: 1px dashed rgba(255, 131, 131, 0.5); */
  background-color: #ffffff;
  display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  height: 100%;
  padding: 6% 4%;
  width: 45%;
}

/* Heading 1 and 2 ====================================== */
h1 {
  font-size: 3.5em;
  font-weight: bold;
}
h2 {
  font-size: 1.6em;
  font-weight: 500;
}

/* Author text =========================================== */
#authors {
  font-size: 0.65em;
  color: #999999;
}

/* Styles the titles for components ====================== */
.component-title {
  font-size: 1em;
}

#login-brand, #login-container, #login-credit {
  /* border: 1px dashed rgba(255, 131, 131, 0.5); */
  background-color: #ffffff;
  width: 100%;
}

label {
  display: block;
  font-size: 10px;
  /* font-weight: bolder; */
  margin-bottom: 4px;
}

label span {
  color: #ff0000;
}

input[type=text], input[type=email], input[type=password] {
  border: 1px solid #dddddd;
  border-radius: 4px;
  color: #202124;
  height: 36px;
  margin-bottom: 10px;
  padding: 6px 10px;
  outline: none;
  transition: 100ms;
  width: 100%;
}

input:focus {
  border: 2px solid #1a73e8;
  padding-left: 9px;
}

#spaceBetween {
  display: flex;
    align-items: center;
    justify-content: space-between;
  margin-top: 25px;
}

#signupLink {
  border: 1px solid #dddddd;
  border-radius: 4px;
  color: #1a73e8;
  height: 36px;
  margin: auto 0;
  text-decoration: none;
  transition: 100ms;
  width: 128px;
}

#signupLink:hover {
  background-color: #f7f7f7;
  box-shadow: 0px 4px 16px 0px rgba(228, 228, 228, 0.50)
}

input[type=submit] {
  background-color: #1a73e8;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #ffffff;
  height: 36px;
  transition: 100ms;
  outline: none;
  width: 80px;
}

input[type=submit]:hover {
  background-color: #3181eb;
  box-shadow: 0px 4px 16px 0px #3182eb3a;
}

/* Success and failure box ======================== */
.message {
  border-radius: 4px;
  display: flex;
    align-items: center;
    justify-content: center;
  margin-bottom: 20px;
  height: 40px;
  width: 100%;
}

#green {
  background-color: #00CC6A;
  color: #ffffff;
}

#red {
  background-color: #f26175;
  color: #ffffff;
}

/* Login Right ===================================== */
#main-right {
  background-color: rgba(255, 131, 131, 0.1);
  background: url('../../resources/signup-1200px.png'),
              linear-gradient(to right top, #ff6f91, #ff807d, #ff966d, #ffae61, #ffc75f);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  width: 55%;
  height: 100%;
}


/* Media Queries =================================== */
@media (max-width: 700px) {
  body {
    background-color: rgba(255, 0, 0, 0.1);
  }

  #main-left {
    width: 100%;
  }

  #main-right {
    display: none;
  }
}
