/* Import ============================================== */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

/* Reset =============================================== */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.center {
  display: flex;
    align-items: center;
    justify-content: center;
}

/* Base ================================================ */
body {
  display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  font-family: sans-serif;
  margin: 0;
  min-height: 100vh;
  padding: 0 6%;
}

h1 {
  font-size: 3.5em;
  font-weight: bold;
}

form {
  width: 300px;
}

label {
  display: block;
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  margin: 0;
}

a {
  margin-bottom: 10px;
}

input[type=file] {
  border:1px solid grey;
}

input[type=text], input[type=email], input[type=password] {
  padding-left: 8px;
}

input[type=submit] {
  height: 40px;
  margin: 20px 0 20px 0;
}

input {
  display:block;
  height: 40px;
  margin-bottom:10px;
  width:100%;
}

#content {
  margin: 20px 0;
  width: 600px;
}

.content-block {
  background-color: #0000001c;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, .1);
  margin: 0 0 20px 0;
  padding: 10px 6% 10px 6%;
}

.content-block:hover {
  outline: 5px solid rgb(124, 124, 124);
}

.virus {
  background: rgb(255, 134, 134);
}

.content-block h1 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
}

.content-block h2 {
  margin: 0 0 6px 0;
  font-size: 12px;
}

.content-block p {
  line-height: 1.5;
}
