
/* singup.css
 *
 * Stylesheet for the signup page.
 *
 * Online Virus Check
 * CS 174: Server-side Web Programming
 * Professor Fabio Di Troia
 *
 * Written by Jasmine Mai, Nhat Nguyen, and Albert Ong
 * Revision 03.04.2019
 */


/* Import ========================================= */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

/* Reset ========================================== */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.center {
  display: flex;
    align-items: center;
    justify-content: center;
}

/* Code ============================================ */
body {
  display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  font-family: sans-serif;
  margin: 0;
  min-height: 100vh;
  padding: 0 6%;
}

form {
  width: 300px;
}

p {
  margin: 0;
}

a {
  margin-bottom: 10px;
}

input[type=file] {
  border:1px solid grey;
  height: auto;
}

input[type=text], input[type=email], input[type=password] {
  padding-left: 8px;
}

input[type=submit] {
  height: 40px;
  margin: 20px 0 20px 0;
}

input {
  display:block;
  height: 40px;
  margin-bottom:10px;
  width:100%;
}

#content {
  border: 1px solid grey;
  margin: 20px 0;
  width: 600px;
}

.content-block {
  background-color: #0000001c;
  padding: 10px 6% 10px 6%;
  margin: 10px 0 10px 0;
}

.content-block h1 {
  margin: 0 0 5px 0;
}

.content-block h2 {
  margin: 0 0 10px 0;
  font-size: 12px;
}

.message {
  border-radius: 5px;
  display: flex;
    align-items: center;
    justify-content: center;
  margin-bottom: 10px;
  height: 40px;
  width: 300px;
}

#red {
  background-color: #f26175;
  color: #ffffff;
}

#green {
  background-color: #69dd95;
  color: #ffffff;
}